In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
off_white_path = "../static/data/off_white_2019.csv"
off_white_sneaker_df = pd.read_csv(off_white_path)
off_white_sneaker_df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/7/17,Off-White,Nike-Air-Max-90-Off-White,"$1,600",$160,9/9/17,8.0,California
1,9/7/17,Off-White,Nike-Air-Max-90-Off-White,"$1,090",$160,9/9/17,11.5,New York
2,9/7/17,Off-White,Nike-Air-Presto-Off-White,"$1,344",$160,9/9/17,10.0,New York
3,9/7/17,Off-White,Nike-Air-Presto-Off-White,"$1,325",$160,9/9/17,10.0,Massachusetts
4,9/7/17,Off-White,Nike-Air-VaporMax-Off-White,"$1,800",$250,9/9/17,12.0,Kentucky